.chat-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.chat-window {
  width: 98%;
  height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
}

.user-message,
.bot-message {
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.bot-message {
  background-color: #ffebee;
}

.chat-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-text {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 99%;
}

.submit-button {
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Link styling for local scope */
.link {
  color: #0070f3;
  text-decoration: none;
  margin-bottom: 20px;
}

.link:hover {
  text-decoration: underline;
}
