/* Spinner Container */
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); /* Light overlay effect */
    z-index: 9999; /* High z-index to ensure it's above all other content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Spinner */
  .spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-left-color: #1e3a8a; /* Spinner color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Rotation animation */
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  