/* Navbar styling */
.navbar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #0f1423, #1e3a8a); /* Gradient background */
  padding-top: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  color: white; /* Text color inside the navbar */
}

/* Logo styling */
.logo {
  color: white;
  padding-left: 20px;
  align-self: flex-start; /* Align the logo to the start of the navbar */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* Add space below the logo */

}

/* Styling for the collapsed navbar */
.collapsed {
  width: 50px;
  /* Adjust width when collapsed */
}

/* Collapse button styling */
.collapse-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  align-self: flex-start; /* Align the button to the start of the navbar */
  transition: transform 0.3s ease, color 0.3s ease;
}

.collapse-button:hover {
  color: #e1e3e5; /* Lighter shade for hover effect */
}

/* Nav list styling */
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1; /* Allow the list to take up available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the list vertically */
  align-items: center; /* Center the list items horizontally */
  width: 100%; /* Ensure nav items are full width */
}

/* Nav list item styling */
.nav-list li {
  width: 100%; /* Ensure each list item spans the full width */
}

/* Nav link styling */
.nav-link {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.collapsed .nav-link {
  opacity: 0;
  /* Hide the text when collapsed */
}

/* Hover effect for nav links */
.nav-link:hover {
  background-color: #687ab1; /* Slightly lighter than the gradient */
  color: #e1e3e5; /* Lighter shade for hover effect */
  border-radius: 5px;
}

/* Active nav link styling */
.active-nav-link {
  background-color: #1e3a8a; /* Highlight the active link */
  color: #fff;
  border-radius: 5px;
}

/* Minimalistic scroll bar for the navbar */
.navbar::-webkit-scrollbar {
  width: 6px;
}

.navbar::-webkit-scrollbar-track {
  background: #1e3a8a;
}

.navbar::-webkit-scrollbar-thumb {
  background: #0f1423;
  border-radius: 10px;
}

.navbar::-webkit-scrollbar-thumb:hover {
  background: #323c5a;
}
